{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Category list</h2>

    {% for category in categories %}
        <div class="thumbnail text-center">
            <h3><a href="{{ url('category_show', {'id': category.id} ) }}">{{ category.name }}</a></h3>
        </div>
    {% endfor %}


{% endblock %}