{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>
    <section class="row">
        {% for user in users %}
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                <figure>
                    <figcaption><h2>{{ user.name }}</h2></figcaption>
                </figure>
            </article>
        {% endfor %}
    </section>

{% endblock %}